[project]
	description =  Only save my programming assignment answer
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HenryWu (Anch9999)
[access "refs/for/refs/*"]
	read = group user/HenryWu (Anch9999)
	push = group user/HenryWu (Anch9999)
	label-Code-Review = -2..+2 group user/HenryWu (Anch9999)
	label-Verified = -1..+1 group user/HenryWu (Anch9999)
	rebase = group user/HenryWu (Anch9999)
	removeReviewer = group user/HenryWu (Anch9999)
	submit = group user/HenryWu (Anch9999)
[access "refs/heads/*"]
	read = group user/HenryWu (Anch9999)
	create = group user/HenryWu (Anch9999)
	push = +force group user/HenryWu (Anch9999)
	pushMerge = group user/HenryWu (Anch9999)
[access "refs/tags/*"]
	push = group user/HenryWu (Anch9999)
	push = +force group user/HenryWu (Anch9999)
